@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.color-nav {
  background-color: #61827d;
  color: black;
  font-weight: bold;
}

.navlogo {
  font-size: 60px;
  text-shadow: 1px;
  font-family: 'VT323', monospace;
}

#bodylogo {
  text-shadow: 1px;
  font-family: 'VT323', monospace;
  font-size: 55px;
}

#merchiename {
  text-shadow: 1px;
  font-style: italic;
}

#rockhands {
  text-shadow: 1px;
  font-style: italic;
}

body {
  color: #0d0c0c;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  border: 1px solid #e4ba4c;
}

footer {
  background-color: #cf6f3e;
}

h2, h1 {
  font-weight: bold;
}

#disclaimer {
  font-style: italic;
}

.table {
  border: 1px solid black;
  column-count: 3;
  column-rule-width: 1px;
}
